# API & Backend Configuration
VITE_API_URL=http://localhost:5000/api
VITE_BACKEND_URL=http://localhost:5000
VITE_FRONTEND_URL=http://localhost:5173

# Application Details
VITE_APP_NAME=bytecode
VITE_APP_VERSION=1.0.0

# External Services & APIs
VITE_GITHUB_API=https://api.github.com
VITE_JOKE_API_URL=https://official-joke-api.appspot.com/jokes/programming/random

# Social & External Links
VITE_INSTAGRAM_URL=https://www.instagram.com/_rohan.005/
VITE_GITHUB_URL=https://github.com/rohan-005
VITE_TWITTER_URL=https://twitter.com/rohandhanerwal
