@import "tailwindcss";

@font-face {
  font-family: 'Transformer';
  src: url('/fonts/transformerfont/Transformers.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-transformer {
  font-family: 'Transformer', sans-serif;
}

@font-face {
  font-family: 'Racing';
  src: url('/fonts/racingfont/RacingEngine-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.font-racing {
  font-family: 'Racing', sans-serif;
}

@font-face {
  font-family: 'Ice';
  src: url('/fonts/ice/ice.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-ice {
  font-family: 'Ice', sans-serif;
}



body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #f5f5f5; */
  color: #333;
  
}

/* 